.section {
  min-height: 100vh;

  background: #0a1128;

  color: white;

  display: grid;
  align-items: center;

  padding: 10rem;
}

.container {
  max-width: 120rem;
  margin: auto;

  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 6rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 5rem;
  margin-bottom: 3rem;
}

.text {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4rem;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.button {
  text-decoration: none;

  padding: 1.5rem 3rem;

  border-radius: 10px;

  font-weight: bold;

  color: white;

  transition: 0.3s;
}

.button:hover {
  transform: translateY(-4px);
}

.instagram {
  background: #e1306c;
}

.github {
  background: #24292e;
}

.whatsapp {
  background: #25d366;
}

.email {
  background: #0072c6;
}

.imageBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 350px;
  max-width: 100%;
}

@media (max-width: 760px) {
  .container {
    grid-template-columns: 1fr;
  }

  .links {
    flex-direction: column;
  }

  .button {
    text-align: center;
  }
}
